body{
  background-color: #f7f7f7;
  max-width: 900px;
  margin: 0 auto;
}
#title, .subtitle, .post_title{
  color: #505050;
}

.post_title{
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}
.post{
  background-color:white;
  padding: 10px;
  border: 3px solid  #505050;
  margin: 10px;
  border-radius: 6px;
  max-width: 700px;
  
  
}

.post_content{
  margin: 0;
  margin-bottom: 15px;
}

.img-responsive{
 
  margin-bottom: 15px;
  width: 100%;
  border-radius: 6px;
  
  
}

.lista{
  margin-top: 10px;
  padding: 10px;
}